.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  border: none;
  color: #ffffff;
}
.buttons-container {
  display: flex;
}
.main-button {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  font-size: 24px;
}
.secondary-button {
  font-size: 10px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.start-button {
  background: green;
}
.stop-button {
  background: red;
}

.restart-button {
  background: blue;
}

.wait-button {
  background: cornflowerblue;
}
